<div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col d-none d-lg-block pt-1">
        <a href="https://diba.cat">
            <img src="/build/img/logos/diba.svg" alt="Diputació de Barcelona" class="logo-md">
        </a>
    </div>
  
</div>
