<nav class="navbar navbar-expand-lg menu-primary justify-content-between">
    <div class="container-fluid p-0">
        <a class="navbar-brand py-0 d-lg-none" href="https://diba.cat">
            <img src="/build/img/logos/diba.svg" alt="Diputació de Barcelona" height="40" class="logo-sm">
        </a>
        
    </div>
</nav>