{% extends 'front.html.twig' %}

{% block banner %}
    {% include 'partials/banner.html.twig' %}
{% endblock %}

{% block contingut_central %}
    <div class="my-4"><a href="/api">Accedeix a la API aqui.</a><div>

{% endblock %}